{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content%}
<p class="text-sm-start fs-2 fw-bold">Delete Ingredient</p>
<form method="POST">
    <p>Are you sure you want to delete <strong div class="fs-5">{{object.ingredientName}}</strong> from inventory?</p>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'ingredients' %}'">Cancel</button>
    <input class="btn btn-outline-danger" type="submit" value="Delete"/>
</form>
{% endblock %}