{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content%}
<p class="text-sm-start fs-2 fw-bold">Delete Menu Item</p>
<form method="POST">
    <p>Are you sure you want to delete the <strong div class="fs-5">{{object.ingredient.ingredientName}}</strong> requirement from <strong div class="fs-5">{{object.menuItem.menuItemName}}?</strong></p>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'menu_items' %}'">Cancel</button>
    <input class="btn btn-outline-danger" type="submit" value="Delete"/>
</form>
{% endblock %}