{% extends 'base.html' %}{% load static %}
{% block title %}

{% endblock %}
{% block content%}
<p class="text-sm-start fs-2 fw-bold">Ingredient List</p>
<table class="table table-light table-striped">
    <tr>
        <th class="table-dark">Ingredient Name</th>
        <th class="table-dark">In Stock</th>
        <th class="table-dark">Price per Unit</th>
        <th class="table-dark">Manage</th>
    </tr>
    {% for ingredient in object_list|dictsort:"ingredientName" %}
    <tr>
        <td class="align-middle">{{ingredient.ingredientName}}</td>
        <td class="align-middle">{{ingredient.ingredientInStock}} {{ingredient.ingredientUnit}}</td>
        <td class="align-middle">$ {{ingredient.ingredientPricePerUnit}} / {{ingredient.ingredientUnit}}</td>
        <td>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'update_ingredient' ingredient.id %}'">
                <img src="{% static 'inventory/sliders.svg' %}" alt="sliders" width="18" height="18"><span class="align-middle"> Edit</span>
            </button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'delete_ingredient' ingredient.id %}'">
                <img src="{% static 'inventory/trash3.svg' %}" alt="trash" width="18" height="18"><span class="align-middle"> Delete</span>
            </button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4"><button type="button" class="btn btn-dark" onclick="location.href='{% url 'create_ingredient' %}'">Add Ingredient</button></td>
    </tr>
</table>
{% endblock %}